<h1>Lista seriali</h1>

<table>
  <tr>
    <th>Nazwa</th>
    <th>Opis</th>
    <th>Kategoria</th>
    <th>Kanal tv</th>
  </tr>

<% @serials.each do |serial| %>
  <tr>
    <td><%= link_to (h serial.nazwa), serial %></td>
    <td><%=h serial.opis %></td>
    <td><%=h serial.kategoria %></td>
    <td><%=h serial.kanaltv %></td>
  </tr>
<% end %>
</table>
