<% if current_user.nil? || current_user.id != @lista.uzytkownik_id && @lista.dostep != 'o' %>

<h2> Nie masz uprawnień do oglądania tej listy </h2>

<% else %>

<p>
  <b>Nazwa:</b>
  <%=h @lista.nazwa %>
</p>

<p>
  <b>Dostep:</b>
  <%= show_dostep(@lista) %>
</p>


<% if !current_user.nil? && current_user.id == @lista.uzytkownik_id %>
  <%= link_to 'Edycja listy', edit_lista_path(@lista) %>
<% else %>
  Właściciel listy: <b><%= Uzytkownik.find(@lista.uzytkownik_id).nazwa %></b>
<% end %>

<hr />

<p>
  <b>Seriale należące do listy</b>
</p>

<% end %>